<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store</title>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  th:href="@{/styles/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"><img src="../images/logo.png" width="200px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/orders}"  sec:authorize="isAuthenticated()">My Orders</a></li>
                    <li><a th:href="@{/postmanOrders}" sec:authorize="isAuthenticated()">Postman Orders</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                    <li><a th:href="@{/shoppingCart}"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <div><i class="fas fa-caret-down"  style="font-size: 30px;color: #555555;"></i></div>
                        <div class="dropdown-content">
                            <a th:href="@{/login}" sec:authorize="isAuthenticated()">My Account</a>
                            <a href="/create-account">Create account</a>
                            <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                        </div>
                    </li>
<!--                  <li><a th:href="@{/shoppingCart}"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a></li>-->

                </ul>
            </nav>

            <img src="../images/menu-icon.png" class="menu-icon" onclick="menutoggle()">
        </div>

    </div>
</div>

<!-----  cart items details ----->
<div th:if="${products}" class="small-container cart-page">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
<!--        "(${name} != null ? ${name} : '')"-->
        <tr th:each="product : ${products}">

            <td >
                <div class="cart-info">
                    <img th:src="${product.getClothes().getImage()}">
                        <div>
                            <p th:text="${product.getClothes().getDescription()}">Mock croc crossbody bag</p>
<!--                            <small th:text="${product.getQuantity()}"></small>-->
                            <small th:text="${product.getClothes().getPrice()}"></small>
                            <br>
                            <form th:method="POST" th:action="@{'/shoppingCart/delete/{id}' (id=${product.getId()})}">
                                <button class="btn" type="submit">
                                    <i>Delete</i>
                                </button>
                            </form>
                        </div>
                    </br>
                </div>
            </td>
            <td th:text="${product.getQuantity()}"></td>
            <td th:text="${product.getPrice()}"></td>
        </tr>

    </table>

    <div class="total-price">

        <table>
            <form th:object="${products.get(0)}" th:method="POST" th:action="@{/makeOrder}">
            <tr>
                <td>Subtotal</td>
                <td><input type="hidden" name="total" th:value="${total}" th:text="${total}"/></td>
<!--                <td th:text="${total}"></td>-->
            </tr>
<!--            <tr>-->
<!--                <form th:action="@{'/shoppingCart/voucherPrice'}">-->
<!--                    <td>Enter voucher code:</td>-->
<!--                    <td><input th:name="code" id="voucher-code" type="text"></td>-->
<!--                    <td>-->
<!--                    <button class="btn" type="submit">-->
<!--                        <i>Submit voucher</i>-->
<!--                    </button>-->
<!--                    </td>-->
<!--                </form>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Total price with voucher</td>-->
<!--                <td th:text="${total}"></td>-->
<!--            </tr>-->
            <tr>
                <td></td>

                <td><button class="btn">Make order</button></td>
            </tr>
            </form>
        </table>
    </div>


</div>




<!--empty cart-->
<div th:unless="${products}" class="small-container cart-page">
    <p class="cart-info">There are no items in the cart!</p>
</div>


<!------------ footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="../images/playstore.png">
                    <img src="../images/appstore.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/logo-footer.png" width="150px">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Products Acessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Fashion Store &#169;</p>
    </div>
</div>


<!--------------- js for toggle menu ------>
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>

</body>
</html>