<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store - Cart</title>

    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a href="home.html"><img src="../static/images/logo.png" width="200px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="orders.html">Orders</a></li>
                    <li><a href="login.html">Account</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="../static/images/kosnicka.png" width="30px" height="30px"></a>
            <img src="../static/images/menu-icon.png" class="menu-icon" onclick="menutoggle()">
        </div>

    </div>
</div>

<!-----  cart items details ----->
<div class="small-container cart-page">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../static/images/product1.jpg">
                    <div>
                        <p>Mock croc crossbody bag</p>
                        <small>Price: $55.00</small>
                        <br>
                        <a href="">Delete</a>
                    </div>
                </div>
            </td>
            <td><input type="number" min="1" value="1"></td>
            <td>$55.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../static/images/product2.jpg">
                    <div>
                        <p>Checked blazer</p>
                        <small>Price: $125.00</small>
                        <br>
                        <a href="">Delete</a>
                    </div>
                </div>
            </td>
            <td><input type="number" min="1" value="1"></td>
            <td>$125.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../static/images/product3.jpg">
                    <div>
                        <p>Pink high-heel shoes</p>
                        <small>Price: $75.00</small>
                        <br>
                        <a href="">Delete</a>
                    </div>
                </div>
            </td>
            <td><input type="number" min="1" value="1"></td>
            <td>$75.00</td>
        </tr>
    </table>

    <div class="total-price">

        <table>
            <tr>
                <td>Subtotal</td>
                <td>$255.00</td>
            </tr>
            <tr>
                <td>Enter voucher code:</td>
                <td><input id="voucher-code" type="text"></td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$255.00</td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn">BUY</button></td>
            </tr>
        </table>
    </div>


</div>


<!------------ footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="../static/images/playstore.png">
                    <img src="../static/images/appstore.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../static/images/logo-footer.png" width="150px">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Products Acessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Fashion Store &#169;</p>
    </div>
</div>


<!--------------- js for toggle menu ------>
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>

</body>
</html>
