<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store</title>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  th:href="@{/styles/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"><img src="../images/logo.png" width="200px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/orders}"  sec:authorize="hasRole('ROLE_USER')">My Orders</a></li>
                    <li><a th:href="@{/postman/orders}" sec:authorize="hasRole('ROLE_POSTMAN')">Postman Orders</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                    <li><a th:href="@{/shoppingCart}"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <div><i class="fas fa-caret-down"  style="font-size: 30px;color: #555555;"></i></div>
                        <div class="dropdown-content">
                            <a href="/voucher" sec:authorize="hasRole('ROLE_ADMIN')">Create voucher</a>
                            <a href="/create-account" sec:authorize="hasRole('ROLE_ADMIN')">Create account</a>
                            <a href="/admin-calendar" sec:authorize="hasRole('ROLE_ADMIN')">Create event</a>
                            <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="row">
            <div class="col-2" style="margin-top: -40px;!important;">
                <h1>Welcome to the<br>Fashion Store!</h1>
                <!--<p>-If you can't stop thinking about it <b>BUY IT</b>-</p> -->
                <p sec:authorize="isAuthenticated()">Check out our <a href="/calendar" style="color: #be2d8b;font-weight: bold;">calendar</a> and stay on top with our latest promotions! </p>
                <a th:href="@{/products}" class="btn">Shop now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="../images/modeli.png">
            </div>
        </div>
    </div>
</div>

<!--------- featured categories ------->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="https://1.bp.blogspot.com/-Da06N8_1LGY/XRUH1kpfurI/AAAAAAAAAs0/SM53bnqh42oceuf-Mx161O0ofe1EARjogCLcBGAs/s1600/coco%2Bchanel%2Bquote.png">
            </div>
            <div class="col-3">
                <img src="https://www.collegefashion.net/wp-content/uploads/2019/01/beauty-begins.webp">
            </div>
            <div class="col-3">
                <img src="https://i.pinimg.com/564x/0d/74/f9/0d74f980882a66eb18e446628849f398.jpg">
            </div>
        </div>
    </div>

</div>

<!--------- featured products ------->
<div class="small-container">
    <h2 class="title">Featured Products</h2>

    <div class="row" >
        <div class="col-4" th:each="fp : ${featuredProducts}">
            <img th:src="${fp.image}">
            <h4 th:text="${fp.name}" th:href="@{/product-details}"></h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p th:text="'$' + ${fp.price}"></p>
        </div>

    </div>



    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4" th:each="lp : ${latestProducts}">
            <a th:href="@{/products/{id} (id=${lp.getId()})}"><img th:src="${lp.image}"></a>
            <a th:href="@{/products/{id} (id=${lp.getId()})}"><h4 th:text="${lp.name}" th:href="@{/product-details}"></h4></a>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p th:text="'$' + ${lp.price}"></p>
        </div>
    </div>



<!-------  offer -------->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <a th:href="@{/products/{id} (id=${exclusive.getId()})}"><img th:src="${exclusive.image}" class="offer-img"></a>
            </div>
            <div class="col-2">
                <p>Exclusively Available on FashionStore</p>
                <h1 th:text="${exclusive.name}" th:href="@{/product-details}"></h1>
                <small>
                    <span th:text="${exclusive.name}"></span> carried for everyday items or personal needs. Can be appropriate for many
                    occasions, from daytime use to evening "special event" use.
                </small></br>
                <a th:href="@{/products/{id} (id=${exclusive.getId()})}" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!--------------- testimonial ----------->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                <p>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <img src="../images/user1.jpg" >
                <h3>John Smith</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                <p>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <img src="../images/user2.jpg" >
                <h3>Sarah Miller</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                <p>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <img src="../images/user3.jpg" >
                <h3>Andrew Williams</h3>
            </div>
        </div>
    </div>
</div>


<!------------ footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="../images/playstore.png">
                    <img src="../images/appstore.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/logo-footer.png" width="150px">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Products Acessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Fashion Store &#169;</p>
    </div>
</div>

<!------------------ js for toggle menu ------>
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }

</script>
</body>
</html>
