<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store - Login/Register</title>
    <link rel="stylesheet"  th:href="@{/styles/style.css}">
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"-->
<!--          rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="../styles/style.css">&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--</head>-->
</head>
<body>

<div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a href="home.html"> <img src="../images/logo.png" width="200px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="orders.html" sec:authorize="isAuthenticated()">Orders</a></li>
                    <li><a href="login.html" sec:authorize="isAuthenticated()">Account</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/create-account">Create account</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <a href="cart.html"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a>
            <img src="../images/menu-icon.png" class="menu-icon" onclick="menutoggle()">
        </div>

    </div>
</div>


<!-------- account-page --------->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../images/modeli.png" width="100%" >
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span>Log in</span>
                        <hr id="Indicator">
                    </div>

                    <form id="LoginForm" method="post" action="/login">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                               autofocus="">
                        <input type="password" name="password" class="form-control" placeholder="Password"
                               required="">
                        <div style="font-size: 12px;color: red;font-style:italic;" th:if="${hasError}" th:text="${error}"></div>
                        <button type="submit" class="btn">Log In</button>
                        <a href="/forgot-password">Forgot Password?</a>
                        <br>
                        <div style="margin-top: 57px;
                                font-size: 16px;
                                border-bottom: 2px solid #bd2d8b;"><a style="font-size: 16px!important;" href="/register">Create account</a></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<!------------ footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="../images/playstore.png">
                    <img src="../images/appstore.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/logo-footer.png" width="150px">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Products Acessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Fashion Store &#169;</p>
    </div>
</div>
</body>
</html>
