<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store</title>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  th:href="@{/styles/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"><img src="../images/logo.png" width="200px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/orders}" sec:authorize="isAuthenticated()">My Orders</a></li>
                    <li><a th:href="@{/postmanOrders}"  sec:authorize="isAuthenticated()">Postman Orders</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                    <li><a th:href="@{/shoppingCart}"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <div><i class="fas fa-caret-down"  style="font-size: 30px;color: #555555;"></i></div>
                        <div class="dropdown-content">
                            <a th:href="@{/login}" sec:authorize="isAuthenticated()">My Account</a>
                            <a href="/create-account">Create account</a>
                            <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                        </div>
                    </li>
<!--                  <li><a th:href="@{/shoppingCart}"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a>-->
</li>
                </ul>
            </nav>
            <img src="../images/menu-icon.png" class="menu-icon" onclick="menutoggle()">
        </div>

    </div>
</div>

<!-----  single product details ------>
<div class="small-container single-product" th:action="@{/products/{id} (id=${product.getId()})}" th:method="POST">
    <div class="row">
        <div class="col-2">
            <img th:src="${product.image}" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img th:src="${product.image}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="${product.image1}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="${product.image2}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="${product.image3}" width="100%" class="small-img">
                </div>
            </div>


        </div>
<!--        <form th:method="POST" th:action="">-->
        <div class="col-2">
            <p id="naslovce">Product / Details</p>
            <h1 th:text="${product.name}"></h1>

            <h4 th:text="'$' + ${product.price}"></h4>
            <form th:action="@{'/shoppingCart/add/{id}' (id=${product.getId()})}"
                  th:method="POST">
            <select name="size">
                <option th:value="S" th:text="S"></option>
                <option th:value="M" th:text="M"></option>
                <option th:value="L" th:text="L"></option>
                <option th:value="XL" th:text="XL"></option>

            <h4 th:text="'$' + ${product.price}"></h4>
<!--            <select>-->
<!--                <option>Select Size</option>-->
<!--                <option>S</option>-->
<!--                <option>M</option>-->
<!--                <option>L</option>-->
<!--                <option>XL</option>-->

<!--            </select>-->
            <input th:name="quantity" type="number" min="1" th:value="1">
<!--            <a th:href="@{/shoppingCart/add/{id} (id=${product.id})}" class="btn">Add To Cart</a>-->
                <button class="btn" type="submit">
                    <i>Add product to cart</i>
                </button>
            </form>


            <h3>Product Description  <i class="fa fa-indent" aria-hidden="true"></i></h3>
            <br>
            <p th:text="${product.description}"></p>
        </div>
<!--        </form>-->
    </div>
</div>

<!--------- title ------->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <!-- <p>View More</p> -->
        <p><a id="back" href="/products" > - View More - </a></p>
    </div>
</div>



<!--------- products ------->
<div class="small-container">
    <!--- <h2 class="title">All Products</h2> -->


    <div class="row">
        <div class="col-4">
            <img src="../images/product1.jpg">
            <h4>Mock croc crossbody bag</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$55.00</p>
        </div>

        <div class="col-4">
            <img src="../images/product2.jpg">
            <h4>Checked blazer</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <p>$125.00</p>
        </div>

        <div class="col-4">
            <img src="../images/product3.jpg">
            <h4>Pink high-heel shoes</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$75.00</p>
        </div>

        <div class="col-4">
            <img src="../images/product4.jpg">
            <h4>Long Oxford jumpsuit</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$100.00</p>
        </div>
    </div>


</div>



<!------------ footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="../images/playstore.png">
                    <img src="../images/appstore.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/logo-footer.png" width="150px">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Products Acessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Fashion Store &#169;</p>
    </div>
</div>


<!--------------- js for toggle menu ------>
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>


<!------------- js for 4 photos under product ------>
<script>

    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    SmallImg[0].onclick = function(){
        ProductImg.src = SmallImg[0].src;
    }

    SmallImg[1].onclick = function(){
        ProductImg.src = SmallImg[1].src;
    }

    SmallImg[2].onclick = function(){
        ProductImg.src = SmallImg[2].src;
    }

    SmallImg[3].onclick = function(){
        ProductImg.src = SmallImg[3].src;
    }

</script>


</body>
</html>
