<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store</title>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  th:href="@{/styles/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"><img src="../images/logo.png" width="200px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/orders}" sec:authorize="isAuthenticated()">My Orders</a></li>
                    <li><a th:href="@{/postman/orders}" sec:authorize="isAuthenticated()">Postman Orders</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                    <li><a th:href="@{/shoppingCart}"  sec:authorize="isAuthenticated()"><img src="../images/kosnicka.png" width="30px" height="30px"></a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <div><i class="fas fa-caret-down"  style="font-size: 30px;color: #555555;"></i></div>
                        <div class="dropdown-content">
                            <a href="/voucher">Create voucher</a>
                            <a href="/create-account">Create account</a>
                            <a href="/admin-calendar">Create event</a>
                            <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <img src="../images/menu-icon.png" class="menu-icon" onclick="menutoggle()">
        </div>

    </div>
</div>


<!-------- account-page --------->
<div class="account-page">
    <div style="font-size: 18px;
    color: #28a746;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;

    padding-right: 210px;
   " th:if="${success}">You have successfully created a voucher!</div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../images/modeli.png" width="100%" >
            </div>
            <div class="col-2">
                <div class="form-container" style="height: 270px!important;">
                    <div class="form-btn">
                        <span>Create voucher</span>
                        <hr id="Indicator">
                    </div>

                    <form id="VocuherForm" method="post" action="/voucher">
                        <input type="text" id="voucherName" name="voucherName" class="form-control" placeholder="Name" required=""
                               autofocus="">
                        <input type="text" name="discount" class="form-control" placeholder="Discount in percent"
                               required="">
                        <button type="submit" class="btn" style="width: 100%">Create voucher</button>
                        <br>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<!------------ footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="../images/playstore.png">
                    <img src="../images/appstore.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/logo-footer.png" width="150px">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Products Acessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Fashion Store &#169;</p>
    </div>
</div>
</body>
</html>
