*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-top: -110px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #b3017de0;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: none;
}

.btn:hover{
    background: #d184ba;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.header{
    /* background: radial-gradient(#fff,#ffd6d6); */
    background: linear-gradient(to bottom, #f8c9d5 0%, #ffffff 100%);
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width:  1080px;
    margin: auto;

}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ffd6d6;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #eeb5b5;
}

.col-4:hover{
    transform: translateY(-5px);
}

/*---------- offer ----------*/

.offer{
    /*   background: radial-gradient(#fff,#ffd6d6); */
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

/*----------- testimonial -------*/

.testimonial{
    padding-top: 20px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #eeb5b5;
}

.col-3 p {
    font-size: 12px;
    margin:  12px 0;
    color: rgb(75, 74, 74);
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 15px;
}

/*--------------- footer --------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 40px;
    display: compact;
    position: absolute;
    left: 0;
    right: 0;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex-basis: 1%;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
    border-radius: 10px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*----------- all products page --------*/


.row-2{
    justify-content: space-between;
    margin: 50px auto 50px;
}

select{
    border: 1px solid #d184ba ;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn p{
    display: inline-block;
    border: 1px solid #d184ba;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn p:hover{
    background: #eeb5b5;
    color: #fff;
}

.pagination{
    text-align: center;
}

#nameSearch{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #d184ba;
}

#nameSearch:focus{
    outline: none;
}


/*--------- product details ------*/

.single-product{
    margin-top:  80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #d184ba;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color:#d184ba;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/*---------- cart items ----------*/

.cart-page{
    margin:80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-info img{
    height: fit-content;
    width: 120px;
    margin-right: 10px;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #b3017de0;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #b3017de0;
    font-size: 12px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #b3017de0;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

#voucher-code{
    width: 60px;
    border-color: #d184ba;
    cursor:text;
}


/*------- account-page --------*/

.account-page{

}

.form-container{
    background: linear-gradient(to bottom, #f8c9d5 0%, #ffffff 100%);
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 70px;
    transition: transform 1s;
}

form input{
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    align-items: center;
    padding-top: 30px;
}

form .btn{
    /*width: 100%;*/
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    margin-top: 60px;
}
#RegForm{
    left: 0;
}

form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #b3017de0;
    height: 3px;
}


.pole{
    width: 100%;
}

.forma{
    margin-left: 70px;
}
/*--------- media query for menu ---------*/

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        margin-top: 50px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
        margin-top: 40px;
    }

    #naslovce{
        margin-top: 65px;
    }
}

/*------- media query for less than 600 screen size ------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
        margin-top: 40px;
    }

    #naslovce{
        margin-top: 65px;
    }

}


body{
    margin-top:20px;
    background:#eee;
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background: linear-gradient(to bottom, #f8c9d5 0%, #ffffff 100%) !important;
    /*background-blend-mode: ;*/
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}





#comments form {
    margin-bottom:30px;
}

#comments form fieldset {
    clear:both;
    background-color: #f8c9d5;
}

#comments form textarea {
    height:100px;
    width: 280px;
    margin-top: 5px;
}

#comments .media {
    border-top:1px dashed #DDDDDD;
    padding:20px 0;
    margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}









